# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment files
.env

# Ignore everything in dist/
/dist/

# Ignore specific file types
*.js

# Other directories
/.old/
/data/
*.js
/dist
