name: Build and Deploy Compilation to Repository
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        
    - name: Install dependencies
      run: npm install
      
    - name: Clean TypeScript output directory
      run: npm run ts:clean
      
    - name: Build TypeScript
      run: npm run ts:build
      
    - name: Configure Git
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        
    - name: Temporarily modify .gitignore
      run: |
        sed -i '/dist/d' .gitignore
        
    - name: Commit and push dist folder
      run: |
        # Add dist folder
        git add dist
        # Commit changes
        git commit -m "Deploy dist folder"
        # Push changes
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Restore .gitignore
      run: |
        # Restore the original .gitignore
        git checkout .gitignore
